<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!doctype html>
<html>
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src chrome:; object-src 'none'"
    />
    <meta charset="utf-8" />
    <link rel="localization" href="browser/customkeys.ftl" />
    <link
      rel="stylesheet"
      href="chrome://browser/content/customkeys/customkeys.css"
    />
    <title data-l10n-id="customkeys-title"></title>
  </head>
  <body>
    <label for="search" data-l10n-id="customkeys-search"></label>
    <input id="search" type="search" />
    <table id="table"></table>
    <div>
      <button id="resetAll" data-l10n-id="customkeys-reset-all"></button>
    </div>

    <!-- We set closedby="none" so that escape cannot dismiss this dialog. -->
    <dialog
      id="cautionDialog"
      closedby="none"
      aria-labelledby="cautionHeading"
      aria-describedby="cautionMessage"
    >
      <h1 id="cautionHeading" data-l10n-id="customkeys-caution-heading"></h1>
      <p id="cautionMessage" data-l10n-id="customkeys-caution-message"></p>
      <div>
        <input type="checkbox" id="cautionToggle" checked />
        <label for="cautionToggle" data-l10n-id="customkeys-caution-toggle">
        </label>
      </div>
      <div>
        <button
          id="cautionAccept"
          commandfor="cautionDialog"
          command="close"
          autofocus
          data-l10n-id="customkeys-caution-accept"
        ></button>
      </div>
    </dialog>
    <script src="chrome://browser/content/customkeys/customkeys.js"></script>
  </body>
</html>
